#formation {
    border-right : 1px solid;
    border-bottom : 1px solid;

}

.center-block {
    text-align: center;
}


.profil li{
text-decoration: none;   
}

.trombi {
padding-top: 3%;
}

.trombi img {
width: 80%;
height: 68%;
}
